@import url(
'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap'
);
@import url(
'https://fonts.googleapis.com/css2?family=Barlow&display+swap'
);
:root{
    --red:hsl(0,100%, 68%);
    --very-dark-blue:hsl(230,29%,20%);
    --dark-gayish-blue:hsl(230,11%,40%);
    --gayish-blue:hsl(231,7%,65%);
    --light-gayish-blue:hsl(207,33%,95%);
    white:hsl(0,0%,100%);
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3, .btn{
    font-family: 'Barlow Condensed',sans-serif;
}
body{
    font-family: 'barlow',sans-serif;
}
main{
    width: 100VW;
    padding: 2rem;
    position: relative;
    overflow-x: hidden;
}
nav{

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}
.list{
    position: absolute;
    top: 8rem;
    left: 2rem;
    right: 2rem;
    list-style: none;
    background-color: var(--white);
    z-index: 10;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px var(--dark-gayish-blue);
    padding: 2rem;
}
.login{
    border-top: 1px solid var(--dark-gayish-blue);
}
.link{
    padding-top: 1rem;
    margin-top: 2rem;
}
.link>a{
    font-size: 1,8rem;
    text-decoration: none;
    color: var(--very-dark-blue);
    font-weight: bold;
}
.img-container{
    height: 60vh;
    width: 50%;
    background-color: var(--light-gayish-blue);
    left: 110%;
    transform: translate(-110%,-10rem);
    position: relative;
}
.hero{
    position: absolute;
    top: 25vh;
    left: -59%;
    width: 100vw;
}
.text-container{
margin-top: -8rem;
}
.btn-card{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem 0;
}
.new{
    color: var(--light-gayish-blue);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    /* padding: 4rem 1.25rem; */
    border: none;
    outline: none;
    border-radius: 6rem;
    background-color: var(--very-dark-blue);
    width: 70px;
    height: 40px;
}
.monogarph{
    color: var(--gayish-blue);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 400;
}
.title{
    font-size: 3.7rem;
color: var(--very-dark-blue);
text-transform: uppercase;
margin: 2rem 0;

}
.para{
    font-size: 1.8rem;
    color: var(--gayish-blue);
}
.demo-btn{
    background-color: var(--red);
    font-size: 1.8rem;
    color: var(--light-gayish-blue);
    border: none;
    outline: none;
    padding: .5rem 1rem;
    border-radius: .4rem;
    font-weight: 700;
    margin-top: 1rem;
    text-transform: lowercase;
    cursor: pointer;
}
footer{
    padding: 2rem;
    text-align: center;
    color: var(--gayish-blue);
    font-size: 1.8rem;
}
footera{
    color: var(--very-dark-blue);
    text-decoration: none;
}
.none{
    display: none;
}
@media screen and (min-width:768px){
    main{
        width: 100vw;
        position: relative;
}
nav{
    padding: 0 3rem;
}
.list{
    position: relative;
    display: flex;
    align-items: center;
    background: none;
    padding: 0;
    top: auto;
    box-shadow: none;
    gap: 2rem;
}
.login{
    border-top: none;
}
.login:hover{
    color: var(--gayish-blue);
}
.login:hover>a{
    text-decoration: underline;
}
.login>a{
    color: var(--dark-gayish-blue);
}
.link:hover>a{
    text-decoration: underline;

}
.img-container{
    width: 60%;
    height: 75vh;
    max-height: 50rem;
    border-radius: 3rem;

}
.hero{
    top: 50%;
    left: 5rem;
    width: 140%;
    height: 70%;
}
.text-container{
    position: absolute;
    top: 60%;
    left: 3rem;
    transform: translateY(-50%);
}
.title{
    font-size: 4rem;
}
.btn-card{
    margin-top: 3rem;
}
.title span{
    display: block;
}
.para{
    margin-top: 3rem;
}
.para span{
    display: block;
}
.demo-btn:hover{
    opacity: .7;
}
.menu,.close{
    display: none;
}


}